<!-- set_username.html template -->
<!DOCTYPE html>
<html>
<head>
  <title>Set username</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
  <div class="header">
    <h1>Set your username</h1>
  </div>
  <form method="post" action="{{ url_for('set_username') }}">
    <div class="form-container">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="Enter your username...">
      <button type="submit" class="submit-button">Submit</button>
    </div>
  </form>
</body>
</html>